@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

.container{
  margin-top:1em;
}
.tab-top{
  margin-left: 0;
}
.tab-pane{
  min-height: 10em;
  border:1.5px #ad9be2 solid;
  border-radius: 0.25rem;
  margin-top: 1em;
  padding:1em;
}
.badge {
  background-color: #ad9be2;
}
.nav-link.active {
  background-color: #ad9be2;
}